stages:
  - prebuild
  - build
  - integration tests

Lint, Typescript:
  stage: prebuild
  script:
    - nix-shell --run "yarn"
    - nix-shell --run "yarn run lint"
    - nix-shell --run "yarn type-check"
    - nix-shell --run "yarn run test"
    - nix-shell --run "yarn run coverage"
    - nix-shell --run "yarn run build"

Nix build:
  stage: build
  needs:
    - Lint, Typescript
  script:
    - nix-build -A blockfrost-backend-ryo

Integration tests - mainnet:
  stage: integration tests
  needs:
    - Nix build
  script:
    - export PROJECT_ID="$PROJECT_ID_MAINNET"
    - nix-build -A blockfrost-backend-ryo-test-mainnet --option sandbox false

Integration tests - preview:
  stage: integration tests
  needs:
    - Nix build
  script:
    - export PROJECT_ID="$PROJECT_ID_PREVIEW"
    - nix-build -A blockfrost-backend-ryo-test-preview --option sandbox false

Integration tests - preprod:
  stage: integration tests
  needs:
    - Nix build
  script:
    - export PROJECT_ID="$PROJECT_ID_PREPROD"
    - nix-build -A blockfrost-backend-ryo-test-preprod --option sandbox false
